<a href="https://colab.research.google.com/github/hemalatha36/ML-/blob/master/assignment(3_sept).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#python program to count number of occurences of a word in the sentence

In [1]:
a=str(input("Enter the sentence: "))
b=dict()
c=a.split()
for i in c:
    if i in b:
        b[i]+=1
    else:
        b[i]=1
print(b)

Enter the sentence: apple is a fruit
{'apple': 1, 'is': 1, 'a': 1, 'fruit': 1}

#python program to remove duplicate elements from list

In [2]:
n=int(input("Enter the size of list "))
a=[]
for i in range(n):
    a.append(input())
b=set(a)
print(list(b))

Enter the size of list 4
2
4


['', '2', '4']

#python program to count number of elements in a list within specified range

In [3]:
n=int(input("Enter the size of list"))
a=[]
b=[]
for i in range(n):
    a.append(input())
x=int(input("Enter the 1st range"))
y=int(input("Enter the 2nd range"))
for i in range(x,y+1):
    b.append(a[i])
print(b)

Enter the size of list3
1
2
3
Enter the 1st range3
Enter the 2nd range2
[]

#python program to merge two dictionaries

In [4]:
a={'a':1,'b':2}
b={'c':3,'d':4}
a.update(b)
print(a)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

#python program to find highest 3 values in dictionary

In [5]:
from heapq import nlargest
a={'a':7889,'b':5332,'c':8645,'d':6778,'e':5789}
b=nlargest(3,a,key=a.get)
print(b)

['c', 'a', 'd']

#python program to convert tuple to a string

In [8]:
t=('k','a','v','y','a')
s=''.join(t)
print(s)

kavya

#python program to remove existing indentation from all of the lines in a given text

In [7]:
import textwrap
sample_text = '''
    Python is a widely used high-level, general-purpose, interpreted,dynamic programming language. Its design philosophy emphasizes code readability, and its syntax allows programmers to express
    concepts in fewer lines of code than possible in languages such as C++ or Java. '''
text_without_Indentation = textwrap.dedent(sample_text)
print()
print(text_without_Indentation )
print()

Python is a widely used high-level, general-purpose, interpreted,dynamic programming language. Its design philosophy emphasizes code readability, and its syntax allows programmers to express
concepts in fewer lines of code than possible in languages such as C++ or Java.